body {
    background-color: #2b5ca8;
    min-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#inputContainer {
    margin: 5px;
}

#gridContainer {
    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr;

    /* border-style: dashed; */
    color: black;
    margin: 5px;
}

.kanbanPage {
    background-color: grey;
    color: white;
    text-align: center;
    width: 80%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 3px 3px 3px black;

}

#item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    min-height: 150px;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 1;

    color: white;
    border-right-style: solid;
}

#item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    height: 20px;

    grid-row-start: 1;
    grid-row-end: 1;

    color: blue;
    height: auto;
}

#item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    height: 20px;

    grid-row-start: 1;
    grid-row-end: 1;

    border-left-style: solid;
    color: white;
    height: auto;

}

#toDoText {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

#ongoingText {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#doneText {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    
}

#title {
    border-radius: 8px;

}

#text {
    border-radius: 8px;

}

#newBtn {
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
    color: white;
    width: 100px;
}
