#kanbanBtn {
    left: 10px;
    top: 50px;
    margin: auto;
    padding: auto;
    position: fixed;
    background-color: #ff5d5d;
    width: 100px;
    border: 2px solid #ddd;
}
#kanbanBtn:hover{
    background-color: #ea4c4c;
}

#homeBtn {
    left: 10px;
    top: 10px;
    margin: auto;
    padding: auto;
    position: fixed;
    background-color: #ff5d5d;
    width: 100px;
    border: 2px solid #ddd;
}
#homeBtn:hover{
    background-color: #ea4c4c;
}
